body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: 0;
    margin-top: 0;
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    color: #D3DBE4;
    width: 100vw;
    background: rgba(25, 118, 190, 0);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    z-index: 100;
}

.header-bar__title {
    display: inline-block;
    width: 52vw;
    vertical-align: middle;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.header-bar__menu {
    display: inline-block;
    width: 45vw;
    text-align: right;
    font-size: 1.1rem;
    vertical-align: middle;
}

.header-bar__menu-item {
    display: inline-block;
    height: 1.5rem;
    margin-left: 1.7rem;
    padding-bottom: 4px;
    transition: border 300ms ease-out;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
}

.header-bar__menu-item:hover {
    border-color: white;
}

.home__front-page {
    background-image: url('./images/front.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto 100%;
    width: 100vw;
    height: 100vh;
}

@media(max-width: 950px){
    .home__front-page {
        background-position: -350px 0px;
    }
}

@media(max-width: 790px){
    .home__front-page {
        background-position: -380px 0px;
    }
}

@media(max-width: 460px){
    .home__front-page {
        background-position: -400px 0px;
    }
}

@media(max-width: 388px){
    .home__front-page {
        background-position: -450px 0px;
    }
}

.home__about {
    margin: 3rem 0 0 2rem;
}

.home__about-description {
    display: inline-block;
    width: 40vw;
    font-size: 1.3rem;
}

.home__about-description-title {
    font-size: 2.5rem;
    width: 40vw;
    margin-bottom: 20px;
}
