body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0 0 0 0;
}

.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    color: #D3DBE4;
    width: 100vw;
    background: rgba(25, 118, 190, 0);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    z-index: 100;
}

.header-bar__title {
    display: inline-block;
    width: 52vw;
    vertical-align: middle;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
    cursor: default;
}

.header-bar__menu {
    display: inline-block;
    width: 45vw;
    text-align: right;
    font-size: 1.1rem;
    vertical-align: middle;
}

.header-bar__menu-item {
    display: inline-block;
    height: 1.5rem;
    margin-left: 1.7rem;
    padding-bottom: 4px;
    transition: border 300ms ease-out;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.header-bar__menu-item:hover {
    border-color: white;
}

.home__front-page {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/front.jpeg');
    position: fixed;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

@media(max-width: 1250px){
    .home__front-page {
        background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./images/front.jpeg') no-repeat -10vw 0px;
        background-size: cover;
    }
}

@media(max-width: 1136px){
    .home__front-page {
        background-position: -220px 0px;
    }
}

@media(max-width: 950px){
    .home__front-page {
        background-position: -380px 0px;
    }
}

@media(max-width: 780px){
    .home__front-page {
        background-position: 45% 0px;
    }
}

@media(max-width: 360px){
    .home__front-page {
        background-position: 47% 0px;
    }
}

.home_front-space-container {
    width: 100vw;
    height: 20vh;
}

@media(max-width: 780px){
    .home_front-space-container {
        height: 60vh;
    }
}

.home_front-page-text-container {
    margin-left: 70vw;
    width: 20.5rem;
    padding: 1rem 0 1rem 1rem;
    border: solid white 1px;
}

@media(max-width: 1250px){
    .home_front-page-text-container {
        margin-left: 60vw;
    }
}

@media(max-width: 950px){
    .home_front-page-text-container {
        margin-left: 55vw;
    }
}

@media(max-width: 780px){
    .home_front-page-text-container {
        margin-left: 28%;
    }
}

@media(max-width: 660px){
    .home_front-page-text-container {
        margin-left: 23%;
    }
}

@media(max-width: 570px){
    .home_front-page-text-container {
        margin-left: 20%;
    }
}

@media(max-width: 500px){
    .home_front-page-text-container {
        margin-left: 15%;
    }
}

@media(max-width: 450px){
    .home_front-page-text-container {
        margin-left: 10%;
    }
}

@media(max-width: 400px){
    .home_front-page-text-container {
        margin-left: 5%;
    }
}

@media(max-width: 370px){
    .home_front-page-text-container {
        margin-left: 7%;
        width: 19rem;
    }
}

@media(max-width: 354px){
    .home_front-page-text-container {
        margin-left: 4%;
        width: 19rem;
    }
}

.home_front-page-text-name {
    color: white;
    font-weight: 400;
    font-size: 2.6rem;
}

@media(max-width: 370px){
    .home_front-page-text-name {
        font-size: 2.4rem;
    }
}

.home_front-page-text-title {
    color: white;
    font-weight: 400;
    font-size: 2.2rem;
}

@media(max-width: 370px){
    .home_front-page-text-title {
        font-size: 2rem;
    }
}


.home_front-page-text-location {
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.home-body {
    margin-top: 100vh;
    background: white;
}

.home__about {
    padding: 3rem 0 0 2rem;
}

.home__about-description {
    display: inline-block;
    width: 40vw;
    font-size: 1.3rem;
}

.home__about-description-title {
    font-size: 2.5rem;
    width: 40vw;
    margin-bottom: 20px;
}
